.home{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap:0px 250px;
    max-width: 80vw;
    margin: 0px auto;
    flex-wrap: wrap;
    margin-top:100px;
    
}

.home .left h1{
    font-size: 35px;
    font-weight: bold;
    max-width: 500px;
    margin-top: 20px;

}
.home .left input{
    margin-top: 40px;
    padding: 20px 300px 20px 20px;
    /* width:200px; */
    border-radius: 5px 0px 0px 5px;
}
.home .left button{
    background: #ffffff;
    padding:20px 20px;
    margin-left: 3px;
    border-radius: 0px 5px 5px 0px;
}
.home .left .deliveryBoy{
    width:300px;
    margin: 30px auto;
    margin-left: 100px
}
.home .right ul li{
    list-style: none;
    font-size: 60px;
    margin-bottom: 50px;
    text-align: center;
    /* color:#8EC8CD; */
    color:#AAD6DA;
}
