nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 70px;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
}
nav .left logo{
    height:70px;
    width:70px;
}
nav .right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:70px;
}
nav .right ul{
    display: flex;
    align-items: center;
    gap:23px;
}
nav .right ul li{
    list-style: none;
    color:gray;
}
nav .right .signup-btn{
    padding:10px 15px;
    border-radius: 5px;
    background-color: var(--button-background-color);
    color:#ffffff;
    border: none;
}